[Unit]
Description=SafeGuard Telegram Cyber-Security Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/SafeGuard_bot
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
